@use './components/menu-bar/_menu-bar';
@use './components/banner/_banner';
@use './components/about/_about';
@use './components/footer/_footer';
@use './components/contacts/_contacts';

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
  body {
    background-color: black;
  }
  
}

